<h1>Welcome, <%= @current_user.username %></h1><br>
<a href="/logout">Logout</a><br>
<a href="/tweets/new">Create a Fweet!</a><br>

<h2>Recent Fweets:</h2><br>
<% @tweets.each do |tweet| %>
  <ul>
    <li><%= tweet.content %></li><br>
  </ul>
<% end %>
