<h1>Welcome to Fwitter</h1><br>

<p><a href="/signup">Sign Up!</a></p><br>
<p><a href="/login">Log In!</a></p><br>

<h2>Fweets!</h2>

<br></br>

<ul>
  <% @tweets.each do |tweet| %>
    <li><b>Created by: <%= tweet.user.username %></b> at <%= tweet.created_at %>: <%= tweet.content %></li><br>
  <% end %>
</ul>
