<h1>Welcome to Fwitter</h1><br>

<p><a href="/signup">Sign Up!</a></p><br>
<p><a href="/login">Log In!</a></p><br>

<h2>Fweets!</h2>

<br></br>

<ul>
    <li><p><b><%= user.username %></b></p>
      <% @tweets.each do |tweet| %>
        <p><b>Created by: <%= tweet.user.username %></b> at <%= tweet.created_at %>: <%= tweet.content %></p>
      <% end %>
    </li><br>
</ul>
