<h1>Welcome to Fwitter</h1><br>



<h2>Fweets!</h2>

<br></br>

<ul>
  <% @users.each do |user| %>
    <li><h3><%= user.username %></h3>
      <% @tweets.each do |tweet| %>
        <p><%= tweet.create_at %>: <%= tweet.content %></p>
      <% end %>
    </li><br>
  <% end %>
</ul>
